body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .hero {
    text-align: center;
    padding: 50px 20px;
  }
  
  .hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .hero .highlight {
    color: #007bff;
  }
  
  .hero p {
    margin-bottom: 20px;
    color: #555;
  }
  
  .btn_primary {
    background: #ffffff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .services {
    text-align: center;
    margin: 50px 0;
  }
  
  .services_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .service-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .service-item p {
    margin-top: 10px;
  }
  
 .experts {
  background: #f9f9f9;
  padding: 50px 20px;
}

.experts_content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap; 
}

.experts_image img {
  max-width: 400px;
  width: 100%;
  border-radius: 10px;
}

.experts_text {
  max-width: 600px;
}

.experts_text h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.experts_text p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 20px;
}

.btn_secondary {
  background: #6c757d;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
  
  .empowering {
  background: #e6f7ff;
  
}

.empowering_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.empowering_content h2 {
  margin-bottom: 30px;
}

.empowering_content div {
  max-width: 600px;
  flex: 1;
  text-align: left;
}

.empowering_content img {
  max-width: 500px;
  width: 100%;
  height: 400px;
  flex: 1;
  border-radius: 10px;
}

  
 .why_scan2care {
  text-align: center;
  margin: 50px 50px ;
}

.why_scan2care h2 {
  margin-bottom: 30px;
}

.why_row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 0 20px;
  flex-wrap: nowrap;
  overflow-x: auto;  
}

.why_item {
  flex: 0 0 30%; 
  min-width: 300px;
  background: #E3ECF3;
  color: rgb(0, 0, 0);
  padding: 30px 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 10px;
}



.why_item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.why_item h3 {
  margin-bottom: 30px;
  font-size: 1.4rem;
  text-align: center;

}

.why_item p {
  font-size: 1rem;
  line-height: 1.5;
}
